//- title: Index Page
extends layouts/_layout
block head
  - var title = 'Main page'
  - var n = 0
  - var servicesTextArr = ['Технический <br/> план', 'Межевой<br/>план', 'Акт<br/> обследования', 'Выписки<br/> из ЕГРН', 'Геодезическая<br/> съемка и обмеры', 'Схема расположения<br/>земельного участка', 'Исправление<br/> реестровых ошибок', 'Проектная<br/> документация', ' Кадастровый учет<br/> и регистрация прав', 'Юридические<br/> услуги']
block content
  // start promo
  .promo
    .container
      .promo-svg
        include data/target.svg
      .promo-wrapper 
      .promo-logo
        img(data-aos="fade-up" data-aos-anchor=".promo" 
            data-aos-duration="1200" src="/images/logo-text.png" alt="Цгк - Центр Геодезии и кадастра")
        p.promo-logo-caption(data-aos-anchor=".promo" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200") цель. гарантия. качество
      .promo-stand(data-aos="fade-in" data-aos-anchor=".promo" 
            data-aos-duration="600" data-aos-delay="1600")
        img(src="images/geo.png")
      .promo-content
        h1(data-aos="fade-up" data-aos-anchor=".promo" 
            data-aos-duration="700" data-aos-delay="2000")
          | Центр 
          br
          | Геодезии
          br
          | и Кадастра
        a.button.popup-link(href="#popup-call" data-aos="fade-up" data-aos-anchor=".promo" 
            data-aos-duration="700" data-aos-delay="2200") 
          span Заказать звонок
          span.icon
            include data/phone.svg
        a.button.popup-link(href="#popup-order" data-aos="fade-up" data-aos-anchor=".promo" 
            data-aos-duration="700" data-aos-delay="2400")
          span Оставить заявку
          span.icon
            include data/envelope.svg
      .services-promo-slider(data-aos="fade-in" data-aos-anchor=".promo" 
            data-aos-duration="700" data-aos-delay="3000")
        .navigation
          a.active(href="#" role="button")
            span 01
          a(href="#" role="button")
            span 02
          a(href="#" role="button")
            span 03
          a(href="#" role="button")
            span 04
          a(href="#" role="button")
            span 05
        .wrapper
          .slide
              span.gray.text-first Кадастровые работы
              span.text-second в кратчайшие сроки
          .slide
              span.text-first Еще один слайд
              span.text-second с анимацией
          .slide
              span.text-first 3-ий слайд
              span.text-second Вау!
          .slide
              span.text-first 4-ий слайд
              span.text-second Вау!
          .slide
              span.text-first 5-ий слайд
              span.text-second Вау!
    .ground(data-aos="fade-up" data-aos-anchor=".promo" 
            data-aos-duration="600" data-aos-delay="1200")
  // end promo
  // start services
  section.services
    .container
      h2.section-heading(data-aos="fade-up" data-aos-anchor=".services" 
            data-aos-duration="600" data-aos-delay="200") Услуги
      p(data-aos="fade-up" data-aos-anchor=".services" 
            data-aos-duration="600" data-aos-delay="500") #[span.color-red Лучшие цены и минимальные сроки] – ключевое преимущество нашей компании
      .services-group
        while n < 10 
          a.service-item(href="#" data-aos="fade-up" data-aos-anchor=".services" data-aos-duration="600" data-aos-delay=(n * 300))
            .icon
              img(src='images/service-icon' + (n + 1) +'.png')
            p.text!= servicesTextArr[n]
            .arr-icon
              .circle
          - n++
  // end services
  // start steps
  section.steps 
    .container
      h2.section-heading(data-aos="fade-up" data-aos-anchor=".steps" data-aos-offset="100"
            data-aos-duration="600" data-aos-delay="200") Как мы работаем
      .steps-group
        .steps-item(data-aos="zoom-in" data-aos-anchor=".steps" data-aos-offset="100"
            data-aos-duration="600" data-aos-delay="400")
          .icon
            img(src="images/step-icon1.png")
          h4 Принимаем заявку
          p и выясняем цель оформления документов
          span.step-num 01
        .steps-item(data-aos="zoom-in" data-aos-anchor=".steps" data-aos-offset="100"
            data-aos-duration="600" data-aos-delay="500")
          .icon
            img(src="images/step-icon2.png")
          h4 Анализируем
          p представленные Вами документы, реестры и фактическое использование объекта
          span.step-num 02
        .steps-item(data-aos="zoom-in" data-aos-anchor=".steps" data-aos-offset="100"
            data-aos-duration="600" data-aos-delay="700")
          .icon
            img(src="images/step-icon3.png")
          h4 Согласовываем
          p стоимость и алгоритм работ
          span.step-num 03
        .steps-item(data-aos="zoom-in" data-aos-anchor=".steps" data-aos-offset="100"
            data-aos-duration="600" data-aos-delay="900")
          .icon
            img(src="images/step-icon4.png")
          h4 Подготавливаем
          p необходимый пакет документов согласно выбранному порядку
          span.step-num 04
        .steps-item(data-aos="zoom-in" data-aos-anchor=".steps" data-aos-offset="100"
            data-aos-duration="600" data-aos-delay="1100")
          .icon
            img(src="images/step-icon5.png")
          h4 Передаем заказчику           p положительный результат проекта в соответствии с поставленными задачами
          span.step-num 05
  // end steps
  // start packages
  section.packages
    .container
      h2.section-heading(data-aos="fade" data-aos-anchor=".packages" data-aos-offset="100"
      data-aos-duration="600" data-aos-delay="200") Мы предлагаем Вам #[br] готовые пакеты услуг
    .packages-group
  
      .packages-tabs.js-tabs
        .packages-types(data-aos="fade-up" data-aos-offset="100" data-aos-duration="800" data-aos-delay="100")
          .frame(data-aos="zoom-in" data-aos-anchor=".packages-types" data-aos-duration="600" data-aos-delay="400")
          button.package-type.js-tab-link Премиум
          button.package-type.js-tab-link Базовый
          button.package-type.js-tab-link.active Стандарт
          button.package-type.js-tab-link Все включено
        .packages-tabs-slider(data-aos="fade-up" data-aos-anchor=".packages" data-aos-offset="100" data-aos-duration="600" data-aos-delay="1200")
          .slide
            .package-details
              h3
              ul.package-list
                li
                  span Сбор исходной документации  
                li
                  span Геодезическая съемка
                li
                  span Подготовка межевого плана
                li
                  span Согласование границ
  // end packages
